<div class="container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="name-info">
      <h1>Taynah Almeida</h1>
      <h3>Desenvolvedora de Software</h3>
      <div class="social-media">
        <a href="https://br.linkedin.com/">Linkedin</a>
        <a href="https://github.com/">Github</a>
        <a href="https://lattes.cnpq.br/">Lattes</a>
      </div>
    </div>
    <div class="formation-info">
      <h4>Localização e Formação</h4>
      <span>Manaus - AM, Brasil</span>
      <span>Bacharela em Ciência da Computação</span>
      <span>Universidade Federal do Amazonas (UFAM) / 2013-2018</span>
    </div>
    <div class="contact-info">
      <h4>Contato</h4>
      <span>taynahmas@gmail.com</span>
      <a href="http://taynah.io">http://taynah.io</a>
    </div>
  </div>
  
  <div class="content">
  
    <div class="card-container">
      <div>
        <div class="card">
          <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg> -->
    
          <span>Sobre mim</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
      </div>

      <div class="professional-info">
        <div class="card">
          <span>Experiência profissional</span>
          <ul>
            <li>
              <h5>Desenvolvedora de Software - INDT (2019 - Present)</h5>
              <span></span>
            </li>
            <li>
              <h5>Estagiária - INDT (2018 - 2018)</h5>
              <span></span>
            </li>
          </ul>
        </div>
  
        <div class="card">
          <span>Habilidades</span>
          <ul>
            <li>
              <h5>Angular</h5>
              <span></span>
            </li>
            <li>
              <h5>React</h5>
              <span></span>
            </li>
            <li>
              <h5>Ionic</h5>
              <span></span>
            </li>
          </ul>
        </div>
      </div>

      <div class="project-info">
        <div class="card">
          <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg> -->
    
          <span>Projetos</span>
          <ul>
            <li>
              <h5>Service4U</h5>
              <span></span>
            </li>
            <li>
              <h5>AiXpert</h5>
              <span></span>
            </li>
            <li>
              <h5>Beegol</h5>
              <span></span>
            </li>
            <li>
              <h5>Quantum</h5>
              <span></span>
            </li>
          </ul>
        </div>
      </div>
  
    </div>
  
    <!-- Footer -->
    <footer>
        <span>Desenvolvido por Taynah Almeida</span>
    </footer>
  
  </div>
</div>

<router-outlet></router-outlet>
